<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <title>Not Defteri</title>
</head>
<body class="h-100">
    <div class="h-100 container-fluid d-flex flex-column p-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li id="sekme-ekle-li" class="nav-item" role="presentation">
                <a href="#" class="nav-link" id="sekme-ekle">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content flex-grow-1 border border-top-0 rounded-bottom" id="myTabContent">
        </div>
        <div class="p-1">
            <button id="kaydet" class="btn btn-primary">Kaydet</button>
        </div>
    </div>

    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>